* {
  padding: 0px;
  margin: 0px;
}
nav {
  background-color: grey;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.container {
  width: 600px;
  height: 800px;
  border: 5px solid black;
  margin: auto;
  position: relative;
  top: 100px;
}
.box {
  width: 100px;
  height: 100px;
}
.biru {
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
}
.merah {
  background: red;
  position: absolute;
  top: 0;
  right: 0;
}
.hitam {
  background: black;
  color: white;
  position: sticky;
  margin: auto;
  margin-top: 350px;

  top: 40px;
}
.hijau {
  background: green;
  position: absolute;
  bottom: 0;
  left: 0;
}
.kuning {
  background: yellow;
  position: absolute;
  bottom: 0;
  right: 0;
}
